/* Universal Styles */

body {

}



header {
  display: flex;;
  background-image: url(/resources/images/banner-landingpage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

